---
import Layout from "layouts/Layout.astro";
---

<Layout
    title="Hello RenderATL"
    description="Hello RenderATL"
>
    <main class="bg-secondary min-h-screen flex items-center justify-center">
        <h1 class="text-6xl font-bold text-primary">Hello RenderATL</h1>
    </main>
</Layout>
